@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html {
  font-size: 62.5%;
  font-size: calc(1em * .625);
}

body {
  font-family: Lato;
  font-size: 1.6em;
  line-height: 1.414;
  color: #333;
  margin: 0;
}

a {
    text-decoration: none;
    color: #b50011;
    font-weight: bold;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
}